<template name="contratos">
   <div class="pageHome">
    <div class="header">
      <div class="headerMenu">
        <a href="/" id="hamburger"><img src="/img/btn_hamburguer.svg" alt="Menú principal" class="imgHamburgesa"></a>
      </div>
      <div class="headerLogo">
        <a href="/"><img src="/img/logo.svg" id="imgLogo"></a>
      </div>
      <div class="headerUser">
        <div class="name"><strong>Participante</strong> GS HackChallenge <br> Administrador</div>
        <div class="pic" style="background-image: url('/img/user.jpg');"></div>
        <div class="noti">7</div>
        <div class="user-menu">
          <a href="/"><img src="/img/btn_desp_menu.svg" class="imgShowMenuUser"></a>
        </div>
        <div class="fecha">
            <b>24/Agosto/2019</b>
        </div>
      </div>

    </div>
    <div class="MenuUser">
      <div class="MenuUser1">
        <a href="/" class="selMenu">
          <div>Salir</div>
          <div><img src="/img/ico5.svg" class="imgConfig"></div>
        </a>
      </div>
    </div>
    <div class="clear"></div>

    <div class="titulo">
        <div class="ruta">
            <a href="/">Página Principal</a> /
            <a href="/">Inicio</a> 
        </div>
        Inicio
    </div>

    

    <!-- Contenido -->
    <div class="contHome">
      <div class="info">
          <iframe class="frameVisual" src="/pdf/pdf.pdf"></iframe>
        <br>
        <br>
        <div class="tCenter">
          ¿Aceptas los términos que se encuentran en el aviso de privacidad?
        </div>
        <br>
        <div class="divTerminos">
          <div><input type="radio" name="grupo4" id="radioSi" checked><label for="radioSi">Acepto</label></div>
          <div><input type="radio" name="grupo4" id="radioNo" ><label for="radioNo">No acepto</label></div>
        </div>
        <div class="btnCenter"><a href="#" class="btnA js-contrato"><div></div>Continuar</a></div>
      </div>
    </div> <!-- Fin conSecc -->
    
    <!-- Footer -->
    <div class="footer">
        <div>Banco Azteca S.A. Institución de Banco Multiple</div>
        <div>Derechos Reservados 2014 (Términos y Condiciones de uso del portal)</div>
    </div>
</div><!-- Fin page -->
<div class="sobresombra"></div>
</template>