<template name="nuevo">
   <div class="pageHome">
    <div class="header">
      <div class="headerMenu">
        <a href="#" id="hamburger"><img src="/img/btn_hamburguer.svg" alt="Menú principal" class="imgHamburgesa"></a>
      </div>
      <div class="headerLogo">
        <a href="index.html"><img src="/img/logo.svg" id="imgLogo"></a>
      </div>
      <div class="headerUser">
        <div class="name"><strong>Participante</strong> GS HackChallenge <br> Administrador</div>
        <div class="pic" style="background-image: url('/img/user.jpg');"></div>
        <div class="noti">7</div>
        <div class="user-menu">
          <a href="#"><img src="/img/btn_desp_menu.svg" class="imgShowMenuUser"></a>
        </div>
        <div class="fecha">
            <b>24/Agosto/2019</b>
        </div>
      </div>

    </div>
    <div class="MenuUser">
      <div class="MenuUser1">
        <a href="login.html" class="selMenu">
          <div>Salir</div>
          <div><img src="/img/ico5.svg" class="imgConfig"></div>
        </a>
      </div>
    </div>
    <div class="clear"></div>

    <div class="titulo">
        <div class="ruta">
            <a href="index.html">Página Principal</a> /
            <a href="index.html">Inicio</a> 
        </div>
        Inicio
    </div>

    

    <!-- Contenido -->
    <!-- Contenido -->
    <div class="contSecc">
    <div class="titSec">Formulario</div>
    <div class="gris">
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --> 
      <!--                                                                 -->
      <!--   H<CK                                                          -->
      <!--   CH>LLENGE                                                     -->
      <!--                                                                 -->
      <!--    Las clases estan pensadas para que puedas usar las tags      --> 
      <!--    de formularios que siempre has usado sin preocuparte         -->
      <!--    el nombre de la clase. Ejemplos a continuación:              --> 
      <!--                                                                 -->
      <!--                                                                 -->
      <!--                             Atte:  maquetacion@elektra.com.mx   -->
      <!--                                                                 -->
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --> 
      <div class="titCol">Por favor complete los siguientes campos</div>
      <div class="divCol3">
        <div class="col3">
            
        </div>
        <div class="col3">
          <span class="obliga">*</span> Nombre:<br>
          <input type="text" id="nombre" value="Juancho Perez" placeholder="Nombre">
        </div>
        <div class="col3">
          Correo:<br>
          <input type="text" id="email" value="rb2k4e@gmail.com" placeholder="email@elektra.com">
        </div>
        <div class="col3">
          Teléfono:<br>
          <div class="divTel">
            <input type="text" id="numero" value="5544155429" placeholder="1234 5678">
          </div>
        </div>
        <div class="col3">
          Password:<br>
          <input type="password" value="123456678" placeholder="****">
        </div>
        <div class="col3">
          <span class="obliga">*</span>  Radio<br>
          <div class="divCol2Input">
            <div><input type="radio" name="grupo1" id="radio1"/><label for="radio1">Opción 1</label></div>
            <div><input type="radio" name="grupo1" id="radio2"/><label for="radio2">Opción 2</label></div> 
          </div>
        </div>
        <div class="col3">
          <span class="obliga">*</span> Checkbox:<br>
          <div class="divCol2Input">
            <div><input type="checkbox" name="grupo1" id="check1"/><label for="check1">Texto prueba 1</label></div>
            <div><input type="checkbox" name="grupo1" id="check2"/><label for="check2">Texto prueba 2</label></div>
          </div>
        </div>
        
        
        <div class="col3">
          Textarea:<br>
          <textarea></textarea>
        </div>
        
        
        <div class="col3">
          Switch:<br>
          <div class="divSwitch">
            <input type="checkbox" /> 
            <div class="switch"></div> Texto ejemplo
          </div>
        </div>  
        <div class="col3">
          Editar:<br>
          <form id="" name="" action="" method="get">
            <div class="pRelative">
                <input type="text" id="busca">
                <input type="submit" class="editar" value="">
            </div>
          </form>
        </div>
        <div class="col3">
          Hora:<br>
          <input type="time" name="usr_time">
        </div>
        <div class="col3">
          Número tarjeta:<br>
          <input id="tarjeta" value="1234" type="number" placeholder="1234">
        </div>                  
      </div>
     
    </div>
    
    
  </div>

  <div class="contSecc">
           <div class="contHome">
              <div class="titSec">Opciones frecuentes</div>
          <div class="divMenu1">
          <a href="#" x="digital" class="menuH2 js-seleccionar">Generar  comprobante digital <br> <img src="/img/comprobantedigital.jpg" class="imgShowMenuUser"></a>
          <a href="#" x="whatsapp" class="menuH2 js-seleccionar">  Enviar comprobante por  Whatsapp<br><img src="/img/whatsapp.jpg" class="imgShowMenuUser"> </a>
          <a href="#" x="email" class="menuH2 js-seleccionar">Enviar  comprobante por  Mail <br><img src="/img/mail.jpg" class="imgShowMenuUser"></a>
          <a href="#" x="imprimir" class="menuH2 js-seleccionar">Imprimir Comprobante <br><br><img src="/img/Impresora.jpg" class="imgShowMenuUser"></a>
          <a href="#" x="sms" class="menuH2 js-seleccionar">SMS </a>
          <a href="#" x="telegram" class="menuH2 js-seleccionar">Telegram</a>
          <a href="#" x="messenger" class="menuH2 js-seleccionar">Messenger</a>
          </div>
        </div>
    </div>

     <div class="btnCenter"> 
        <a href="/admin" class="btnA btnG">Cancelar</a>
        <a href="#" class="btn js-guardar btnGuardar modalEjemplo_view"><div></div>Guardar</a>
      </div>
      <div class="btnCenter"> 
       <p></p>
       <p></p>
      </div>
  <!-- Fin conSecc -->
    
    <!-- Footer -->
    <div class="footer">
        <div>Banco Azteca S.A. Institución de Banco Multiple</div>
        <div>Derechos Reservados 2014 (Términos y Condiciones de uso del portal)</div>
    </div>
</div><!-- Fin page -->
<div class="sobresombra"></div>
</template>