<template name="main">
    <div class="ContLogin">
        <div class="imagen"></div>
        <div class="login">
            <div class="titHome"><span class="titV">Bienvenido</span><br>
                <strong>Portal de Servicios<br>Banco Azteca</strong> 
            </div>
            <form id="miFormLogin" name="miFormLogin">
                <div class="divLogin">
                    <div class="subtit">Ingresa tu usuario y contraseña</div>
                    <div><input type="text" placeholder="Usuario:" class="inputlogin" id="txtUsuario" autocomplete="off"></div>
                    <div><input type="password" placeholder="Conseña:" class="inputlogin" id="txtLlave" autocomplete="off"></div>
                    <div class="txtRojo">&nbsp;</div>
                    
                    <div><input type="submit" class="btnLogin" value="Ingresar" ></div>
                    <div><a href="" class="ligaLogin">¿Olvidaste tu contraseña?</a></div>
                    <div class=""><img src="img/logo.svg" class="imgLogoLogin"></div>
                </div>
                
            </form>
        </div>
    </div>
</template>