<template name="escoger">
   <div class="pageHome">
    <div class="header">
      <div class="headerMenu">
        <a href="#" id="hamburger"><img src="/img/btn_hamburguer.svg" alt="Menú principal" class="imgHamburgesa"></a>
      </div>
      <div class="headerLogo">
        <a href="index.html"><img src="/img/logo.svg" id="imgLogo"></a>
      </div>
      <div class="headerUser">
        <div class="name"><strong>Participante</strong> GS HackChallenge <br> Administrador</div>
        <div class="pic" style="background-image: url('/img/user.jpg');"></div>
        <div class="noti">7</div>
        <div class="user-menu">
          <a href="#"><img src="/img/btn_desp_menu.svg" class="imgShowMenuUser"></a>
        </div>
        <div class="fecha">
            <b>24/Agosto/2019</b>
        </div>
      </div>

    </div>
    <div class="MenuUser">
      <div class="MenuUser1">
        <a href="login.html" class="selMenu">
          <div>Salir</div>
          <div><img src="/img/ico5.svg" class="imgConfig"></div>
        </a>
      </div>
    </div>
    <div class="clear"></div>

    <div class="titulo">
        <div class="ruta">
            <a href="index.html">Página Principal</a> /
            <a href="index.html">Inicio</a> 
        </div>
        Inicio
    </div>

    

    <!-- Contenido -->
    <div class="contSecc">
			<div class="divMenuInfo">
    			<div><img src="/img/icoUsuario.svg"> Cliente   GS HackChallenge </div>
    			<div>CURP:<span class="txtV"> CURP000000XXXXXXXX</span></div>
    			<div>NSS:<span class="txtV"> 1234567890</span></div>
  		  	</div>
       		 <div class="contHome">
       		 		<div class="titSec">Opciones frecuentes</div>
				  <div class="divMenu1">
					<a href="#" class="menuH2">Generar  comprobante digital <br> <img src="/img/comprobantedigital.jpg" class="imgShowMenuUser"></a>
					<a href="#" class="menuH2">  Enviar comprobante por  Whatsapp<br><img src="/img/whatsapp.jpg" class="imgShowMenuUser"> </a>
					<a href="#" class="menuH2">Enviar  comprobante por  Mail <br><img src="/img/mail.jpg" class="imgShowMenuUser"></a>
					<a href="#" class="menuH2">Imprimir Comprobante <br><br><img src="/img/Impresora.jpg" class="imgShowMenuUser"></a>
					<a href="#" class="menuH2">Otro </a>
				  </div>
			  </div>
		</div><!-- Fin conSecc -->
    
    <!-- Footer -->
    <div class="footer">
        <div>Banco Azteca S.A. Institución de Banco Multiple</div>
        <div>Derechos Reservados 2014 (Términos y Condiciones de uso del portal)</div>
    </div>
</div><!-- Fin page -->
<div class="sobresombra"></div>
</template>